.Item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  background-color: #fff;
}

.Item-title {
  flex: 1;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.Item-price {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.Item-quantity {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  color: #555;
}
