.CartInfo {
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    border-bottom: 1px dashed #ccc;
  }
  
  .CartInfo-content {
    display: flex;
    align-items: center;
  }
  
  .CartInfo-text {
    text-align: right;
    margin-right: 20px;
  }
  
  .CartInfo-text strong {
    font-weight: 700;
  }
  
  .CartInfo-button-container {
    margin-left: 10px; 
    display: flex;
    align-items: center; 
  }