body {
  margin: 0;
  padding: 0;
  background: #535353;
  font-family: sans-serif;
}

.App {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 15px 5px #0000003b;
}

.App-head {
  height: 80px;
  background: #f5f5f5;
}

.App-head h1 {
  margin: 0;
  padding: 20px 20px 10px;
}

.App-controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.List-item {
  display: flex;
  flex-direction: row; /* Элементы расположены в строку */
  align-items: center; /* Вертикальное выравнивание по центру */
  border-bottom: 1px dashed #ccc;
}

.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  width: 100%; /* Для правильного распределения ширины */
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: calc(100% - 100px); /* Учитываем ширину элемента .Item-actions */
  padding: 20px 10px;
  display: flex; /* Для размещения текста и информации о выделениях в одной строке */
  align-items: center; /* Вертикальное выравнивание по центру */
}

.Item-selection-info {
  font-size: 14px; 
  color: #666; 
  margin-left: 10px; /* Отступ от названия записи */
}

.Item-selection-text {
  font-weight: bold;
}

.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
